/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* Reset HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações padrões */
html {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  background-image: url("../images/bgDesafios.png");
}

/*  */
* {
  scrollbar-width: thin;
  scrollbar-color: #0c0c0c;
}
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #0c0c0c;
}

*::-webkit-scrollbar-thumb {
  background-color: #6100ff;
  border-radius: 20px;
  border: 2px solid #141414;
}

h1 {
  font-weight: 600;
  color: #f4f4f4;
  padding: 5px;
  font-size: 9rem;
}

h2 {
  font-weight: 600;
  color: #f4f4f4;
  padding: 5px;
  font-size: 4rem;
}

p {
  font-weight: 200;
  color: #f4f4f4;
  font-size: 28px;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f4f4f4;
}

span {
  color: #6100ff;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
  width: 100%;
  padding: 2% 5%;
}

.btnMenu {
  position: relative;
  font-size: 1.5rem;
  padding: 0 10px;
}

.btnMenu:after {
  content: "";
  position: absolute;
  background-color: #00ff37;
  height: 2px;
  width: 0;
  left: 26px;
  bottom: 0;
  transition: 0.3s;
}
.btnMenu:hover:after {
  width: 60%;
}
/* Main - conteúdo principal */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 90vh;
  width: 100%;
}
/* Projetos */
#projetos {
  padding-top: 30px;
  text-decoration: underline;
  text-decoration-color: #00ff37;
}

.projetos {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerProjetos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;

  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 31vh;
  border: #6100ff 1px solid;
  margin: 1%;
  transition: 1s;
}

.card img {
  width: 100%;
  transition: 1s;
}
.card img:hover {
  opacity: 18%;
}


.card:hover {
  background-color: #6100ff;
  cursor: pointer;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-top: 50px;
  width: 100%;
  padding: 1% 5%;
}
.voltarTopo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #00ff37;

  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #f4f4f4;
  border-radius: 50%;

  cursor: pointer;
}

/* Reposividade */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45%;
    height: 40vh;
    border: #6100ff 1px solid;
    margin: 2%;
  }
}

/* Smartphone */
@media screen and (max-width: 767px) {
  h1 {
    font-weight: 600;
    color: #f4f4f4;
    padding: 5px;
    font-size: 4.5rem;
  }

  h2 {
    font-weight: 600;
    color: #f4f4f4;
    padding: 5px;
    font-size: 2.5rem;
  }

  p {
    font-weight: 200;
    color: #f4f4f4;
    font-size: 28px;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    color: #f4f4f4;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10vh;
    width: 100%;
    padding: 2% 5%;
  }

  #linkGit {
    display: none;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 40vh;
    border: #6100ff 1px solid;
    margin: 2%;
  }
}
