/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* Reset HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações padrões */
html {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;

  display: flex;
  flex-direction: column;

  background-image: url("../images/bgDesafios.png");
}

body::-webkit-scrollbar {
    width: 5px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #01FFB3;
  }

h1 {
  font-weight: 600;
  color: #f4f4f4;
  padding: 5px;
  font-size: 144px;
}

h2 {
  font-weight: 600;
  color: #f4f4f4;
  padding: 5px;
  font-size: 64px;
}

p {
  font-weight: 400;
  color: #f4f4f4;
  font-size: 28px;
}

span {
  color: #6100ff;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
  width: 100%;
  padding: 2% 5%;
}

/* Main - conteúdo principal */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 90vh;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1% 5%;
}
